body {
  background: rgb(215, 184, 83);
}
h1 {
  text-align: center;
}
p {
  text-align: center;
}
a {
  text-align: center;
}
.directions {
  text-align: center;
}
.one,
.two {
  padding-left: 10px;
  padding-right: 10px;
}
.one {
  background-color: palevioletred;
  color: wheat;
  text-decoration: none;
}
.two {
  background-color: palevioletred;
  color: wheat;
  text-decoration: none;
}
img {
  max-width: 100%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}
